body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Inter';
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
}

.wrapper {
    background: rgb(255, 255, 255);
    max-width: 920px;
    margin: 0 auto;
    padding: 2rem 2rem;
    margin-top: 150px;
    border-radius: 15px;
box-shadow:
  0 -4px 12px rgba(0, 0, 0, 0.06),
  0 2px 4px rgba(0, 0, 0, 0.04),
  0 8px 24px rgba(0, 0, 0, 0.08),
  0 24px 48px rgba(0, 0, 0, 0.12);
}

.days-of-the-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
}

.day-of-the-week {
    border: 1px solid rgb(214, 214, 214);
    /* padding: 1rem .5rem; */
    border-radius: 10px;
    transition: .5s ease all;
}

.day-of-the-week:hover {
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}

.day-cont {
    text-align: center;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid rgb(214, 214, 214);
    padding: .5rem .2rem;
}

.day-number {
    font-size: 1.4rem;
}

.temp-cont {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.temp-title {
    /* border-right: 1px solid rgb(214, 214, 214); */
    font-size: .8rem;
}

.temp-count {
    padding-bottom: 0.2rem;
}